.container{
    height: 250vh;
    background-color: lightskyblue;
    position: relative;
}
.main-slider{
    height: 300px;
    width: 100%;
}
.header{
    height: 40px;
    background-color: blue;
    position: sticky;
    top: 0;
}
input[type="button"]{
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: blue;
    border: 0;
    margin-top: 5px;
    outline: none;
}
input[type="button"]:hover{
    cursor: pointer;
    background-color: black;
    color: darkgrey;
    font-size: 40px;
    transition: 0.5s;
}
.left-buttons, .right-buttons{
    display: inline-block;
}
.right-buttons{
    float: right;
}

/*Main Content Styles*/
.article-img{
    float: left;
    width: 40%;
    margin: 0 10px;
}
.article{
    display: inline;
}
.article > h3{
    text-align: center;
}
.article > p{
    text-align: justify;
}
.main-content{
    margin: 0 15%;
}